@model List<WeatherForecast>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table>
    <tr>
        <td>Date</td>
        <td>Summery</td>
        <td>TemperatureC</td>
        <td>TemperatureF</td>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Date</td>
            <td>@item.Summery</td>
            <td>@item.TemperatureC</td>
            <td>@item.TemperatureF</td>
        </tr>
    }
</table>